<p class="geoposition-widget" data-map-widget-height="{{ widget.config.map_widget_height }}" data-map-options='{{ widget.config.map_options }}' data-marker-options='{{ widget.config.marker_options }}'>
    <table>	    {{ widget.latitude.label|capfirst }}:
        <tr>	    <input type="text" name="position_0" class="geoposition" value="{{ widget.latitude.html }}" />
            <td>{{ widget.latitude.label|capfirst }}</td>	    {{ widget.longitude.label|capfirst }}:
            <td>{{ widget.latitude.html }}</td>	    <input type="text" name="position_1" class="geoposition" value="{{ widget.longitude.html }}" />
        </tr>	    <br/>
        <tr>
</p>

